*{
    background-image: url({{url_for('static',filename='img.jpg')}});
    

}
body{
    background-image: url(/webapp/static/img.jpg);
    background-color: rgb(22, 104, 66);
}
.res_table{
    align-items: center;
    color: aliceblue;
}
#h1{
    text-align: center;
    color: beige;
}